APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=attendance.db
DB_PORT=5432
DB_DATABASE=cat
DB_USERNAME=root
DB_PASSWORD=password

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# Local development
WWWGROUP=1000
WWWUSER=1000
APP_PORT=81
FORWARD_DB_PORT=5432
VITE_PORT=5174
LOG_CHANNEL=single

SAIL_XDEBUG_MODE=debug
SAIL_XDEBUG_CONFIG="client_host=host.docker.internal idekey=PHPSTORM"
SERVICE_NAME=attendance.web
