.overlay > .overlay-td {
    position: relative;
    border: 1px solid #000;
    background-color: #CCC;
    width: 73px;
    padding: 5px;

}

i.overlay-td {
    position: relative;
    z-index: 999;
}

.pagination {
    display: inline-flex !important;
}

/*div.dropdown-menu  {*/
/*max-width: 50px !important;*/
/*}*/

.panel .has-error .form-control {
    color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    box-shadow: none !important;
}

.has-error .help-block {
    border-color: #dd4b39 !important;
    box-shadow: none;
    color: #dd4b39;
}